<%- include('header', { title: 'The Fashion Connector' }) %>

<h1 class="header-title">
  <%= productCategory === 'all bags' ? 'all bags' : productCategory === "animal" ? productCategory + " print" + " bags" :
   productCategory + " bags" %>
</h1>

<% if (productCategory == "all bags") { %>
<div class="top-image-border">
  <div class="tib-inner">
    <img src="/static/general_images/topimage9.jpg" />
    <img src="/static/general_images/topimage36.jpg" />
    <img src="/static/general_images/topimage37.jpg" />
    <img src="/static/general_images/topimage38.jpg" />
  </div>
</div>

<% } else { %>

<div class="top-image-border">
  <div class="tib-inner">
    <img src="/static/general_images/topimage4.jpg" />
    <img src="/static/general_images/topimage3.jpg" />
    <img src="/static/general_images/topimage8.jpg" />
    <img src="/static/general_images/topimage40.jpg" />
  </div>
</div>

<% } %>

<div class="category-container">
  <% if (productCategory === "black" || productCategory === "blue" ||
  productCategory === "yellow" || productCategory === "red" || productCategory
  === "brown" || productCategory === "white" || productCategory === "grey" || productCategory === "pink" ||
  productCategory === "metallic" || productCategory === "green") { %>

  <div class="sort-menu-desktop-container">
    <div class="sort-menu-categories">
      <div class="category">
        <p class="label">category</p>
        <ul>
          <li>
            <label><input type="checkbox" value="tote" /> tote </label>
          </li>
          <li>
            <label><input type="checkbox" value="shoulder" /> shoulder</label>
          </li>
          <li>
            <label><input type="checkbox" value="crossbody" />crossbody</label>
          </li>
          <li>
            <label><input type="checkbox" value="clutch" />clutch</label>
          </li>
          <li>
            <label><input type="checkbox" value="backpack" /> backpacks</label>
          </li>
           <li>
            <label><input type="checkbox" value="animal" /> animal</label>
          </li>
          <li>
            <label><input type="checkbox" value="briefcase" />briefcases</label>
          </li>
          <li>
            <label><input type="checkbox" value="quilted" />quilted</label>
          </li>
          <li>
            <label><input type="checkbox" value="vegan" /> vegan </label>
          </li>
          <li>
            <label><input type="checkbox" value="leather" /> leather</label>
          </li>
          <li>
            <label><input type="checkbox" value="hobo" />hobo</label>
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>

      <div class="brand">
        <p class="label">brand</p>
        <ul>
          <li>
            <label
              ><input type="checkbox" value="vegan" /> vegan luxe collection
            </label>
          </li>
          <li>
            <label
              ><input type="checkbox" value="leather" /> leather luxe
              collection</label
            >
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="sort-menu-price">
      <div class="price">
        <p class="label">price</p>
        <ul>
          <li>
            <label><input type="checkbox" value="high" /> sort high </label>
          </li>
          <li>
            <label><input type="checkbox" value="low" /> sort low</label>
          </li>
          <li>
            <button type="button" class="apply apply-price">apply</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% } else if(productCategory === "tote" || 
  productCategory === "clutch" || productCategory === "briefcase" ||
  productCategory === "crossbody" || productCategory === "leather" || productCategory === "vegan" ||
  productCategory === "animal" || productCategory === "shoulder" || productCategory === "backpack" ||
  productCategory === "quilted") { %>

  <div class="sort-menu-desktop-container">
    <div class="sort-menu-categories">
      <div class="colour">
        <p class="label">colour</p>
        <ul>
          <li>
            <label><input type="checkbox" value="black" /> black </label>
          </li>
          <li>
            <label><input type="checkbox" value="brown" /> brown</label>
          </li>
          <li>
            <label><input type="checkbox" value="blue" /> blue</label>
          </li>
          <li>
            <label><input type="checkbox" value="green" /> green</label>
          </li>
          <li>
            <label><input type="checkbox" value="grey" /> grey</label>
          </li>
          <li>
            <label><input type="checkbox" value="metallic" /> metallic</label>
          </li>
          <li>
            <label><input type="checkbox" value="pink" /> pink</label>
          </li>
          <li>
            <label><input type="checkbox" value="red" /> red</label>
          </li>
          <li>
            <label><input type="checkbox" value="white" /> white </label>
          </li>
          <li>
            <label><input type="checkbox" value="yellow" /> yellow</label>
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>

      <div class="brand">
        <p class="label">brand</p>
        <ul>
          <li>
            <label
              ><input type="checkbox" value="vegan" /> vegan luxe collection
            </label>
          </li>
          <li>
            <label
              ><input type="checkbox" value="leather" /> leather luxe
              collection</label
            >
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="sort-menu-price">
      <div class="price">
        <p class="label">price</p>
        <ul>
          <li>
            <label><input type="checkbox" value="high" /> sort high </label>
          </li>
          <li>
            <label><input type="checkbox" value="low" /> sort low</label>
          </li>
          <li>
            <button type="button" class="apply apply-price">apply</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% } else { %>

  <div class="sort-menu-desktop-container">
    <div class="sort-menu-categories">
      <div class="colour">
        <p class="label">colour</p>
        <ul>
          <li>
            <label><input type="checkbox" value="black" /> black </label>
          </li>
          <li>
            <label><input type="checkbox" value="brown" /> brown</label>
          </li>
          <li>
            <label><input type="checkbox" value="blue" /> blue</label>
          </li>
          <li>
            <label><input type="checkbox" value="green" /> green</label>
          </li>
          <li>
            <label><input type="checkbox" value="grey" /> grey</label>
          </li>
          <li>
            <label><input type="checkbox" value="metallic" /> metallic</label>
          </li>
          <li>
            <label><input type="checkbox" value="pink" /> pink</label>
          </li>
          <li>
            <label><input type="checkbox" value="red" /> red</label>
          </li>
          <li>
            <label><input type="checkbox" value="white" /> white </label>
          </li>
          <li>
            <label><input type="checkbox" value="yellow" /> yellow</label>
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>

      <div class="category">
        <p class="label">category</p>
        <ul>
          <li>
            <label><input type="checkbox" value="tote" /> tote </label>
          </li>
          <li>
            <label><input type="checkbox" value="shoulder" /> shoulder</label>
          </li>
          <li>
            <label><input type="checkbox" value="crossbody" />crossbody</label>
          </li>
          <li>
            <label><input type="checkbox" value="clutch" />clutch</label>
          </li>
          <li>
            <label><input type="checkbox" value="backpack" /> backpacks</label>
          </li>
          <li>
            <label><input type="checkbox" value="briefcase" />briefcases</label>
          </li>
          <li>
            <label><input type="checkbox" value="quilted" />quilted</label>
          </li>
          <li>
            <label><input type="checkbox" value="hobo" /> hobo</label>
          </li>
          <li>
            <label><input type="checkbox" value="vegan" /> vegan </label>
          </li>
          <li>
            <label><input type="checkbox" value="leather" /> leather</label>
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>
      <div class="brand">
        <p class="label">brand</p>
        <ul>
          <li>
            <label
              ><input type="checkbox" value="vegan" /> vegan luxe collection
            </label>
          </li>
          <li>
            <label
              ><input type="checkbox" value="leather" /> leather luxe
              collection</label
            >
          </li>
          <li>
            <button type="button" class="apply apply-category">apply</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="sort-menu-price">
      <div class="price">
        <p class="label">price</p>
        <ul>
          <li>
            <label><input type="checkbox" value="high" /> sort high </label>
          </li>
          <li>
            <label><input type="checkbox" value="low" /> sort low</label>
          </li>
          <li>
            <button type="button" class="apply apply-price">apply</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% } %>

  <div class="filter-button-container"></div>

  <div class="sort-menu-mobile-container">
    <div class="filter"><p>filters</p></div>
    <div class="sort"><p>sort by</p></div>
  </div>

  <% if(productCategory === "all bags"){ %>
  <div class="mobile-filter-modal-container">
    <div class="mobile-filter-page1">
      <p class="close">&#10005;</p>
      <p class="heading">filters</p>
      <ul>
        <li>categories</li>
        <li>colour</li>
        <li>brand</li>
      </ul>
    </div>
    <div class="mobile-filter-categories">
      <p class="close">&#10005;</p>
      <p class="heading">categories</p>
      <ul>
        <li>
          <label><input type="checkbox" value="tote" />tote</label>
        </li>
        <li>
          <label><input type="checkbox" value="shoulder" />shoulder</label>
        </li>
        <li>
          <label><input type="checkbox" value="crossbody" />crossbody</label>
        </li>
        <li>
          <label><input type="checkbox" value="clutch" />clutch</label>
        </li>
        <li>
          <label><input type="checkbox" value="backpack" />backpack</label>
        </li>
        <li>
          <label><input type="checkbox" value="quilted" />quilted</label>
        </li>
        <li>
          <label><input type="checkbox" value="vegan" />vegan</label>
        </li>
        <li>
          <label><input type="checkbox" value="leather" />leather</label>
        </li>
      </ul>
      <button type="button" class="apply mapply-category">apply</button>
    </div>
    <div class="mobile-filter-colour">
      <p class="close">&#10005;</p>
      <p class="heading">colour</p>
      <ul>
        <li>
          <label><input type="checkbox" value="black" />black</label>
        </li>
        <li>
          <label><input type="checkbox" value="brown" />brown</label>
        </li>
        <li>
          <label><input type="checkbox" value="blue" />blue</label>
        </li>
        <li>
          <label><input type="checkbox" value="green" />green</label>
        </li>
        <li>
          <label><input type="checkbox" value="grey" />grey</label>
        </li>
        <li>
          <label><input type="checkbox" value="metallic" />metallic</label>
        </li>
        <li>
          <label><input type="checkbox" value="pink" />pink</label>
        </li>
        <li>
          <label><input type="checkbox" value="red" />red</label>
        </li>
        <li>
          <label><input type="checkbox" value="white" />white</label>
        </li>
        <li>
          <label><input type="checkbox" value="yellow" />yellow</label>
        </li>
      </ul>
      <button type="button" class="apply mapply-category">apply</button>
    </div>
    <div class="mobile-filter-brand">
      <p class="close">&#10005;</p>
      <p class="heading">brand</p>
      <ul>
        <li>
          <label><input type="checkbox" value="leather" />leather luxe</label>
        </li>
        <li>
          <label><input type="checkbox" value="vegan" />vegan luxe </label>
        </li>
      </ul>
      <button type="button" class="apply mapply-category">apply</button>
    </div>
  </div>

  <% } else { %>

  <div class="mobile-filter-modal-container">
    <div class="mobile-filter-page1">
      <p class="close">&#10005;</p>
      <p class="heading">filters</p>
      <ul>
        <li>colour</li>
        <li>brand</li>
      </ul>
    </div>
    <div class="mobile-filter-colour">
      <p class="close">&#10005;</p>
      <p class="heading">colour</p>
      <ul>
        <li>
          <label><input type="checkbox" value="black" />black </label>
        </li>
        <li>
          <label><input type="checkbox" value="brown" />brown</label>
        </li>
        <li>
          <label><input type="checkbox" value="blue" />blue</label>
        </li>
        <li>
          <label><input type="checkbox" value="green" />green</label>
        </li>
        <li>
          <label><input type="checkbox" value="grey" />grey</label>
        </li>
        <li>
          <label><input type="checkbox" value="metallic" />metallic</label>
        </li>
        <li>
          <label><input type="checkbox" value="pink" />pink</label>
        </li>
        <li>
          <label><input type="checkbox" value="red" />red</label>
        </li>
        <li>
          <label><input type="checkbox" value="white" />white</label>
        </li>
        <li>
          <label><input type="checkbox" value="yellow" />yellow</label>
        </li>
      </ul>
      <button type="button" class="apply mapply-category">apply</button>
    </div>
    <div class="mobile-filter-brand">
      <p class="close">&#10005;</p>
      <p class="heading">brand</p>
      <ul>
        <li>
          <label><input type="checkbox" value="leather" />leather luxe</label>
        </li>
        <li>
          <label><input type="checkbox" value="vegan" />vegan luxe</label>
        </li>
      </ul>
      <button type="button" class="apply mapply-category">apply</button>
    </div>
  </div>
  <% } %>

  <div class="mobile-filter-modal-price-container">
    <div class="mobile-filter-price">
      <p class="close">&#10005;</p>
      <p class="heading">price</p>
      <ul>
        <li>
          <label
            ><input type="checkbox" value="high" />Price (high - low)</label
          >
        </li>
        <li>
          <label><input type="checkbox" value="low" />Price (low - high)</label>
        </li>
      </ul>
      <button type="button" class="apply apply-price">apply</button>
    </div>
  </div>

  <div class="product-count">
    <p></p>
  </div>

  <div class="image-gallery-container">
    <% product.forEach((bag) => { %>
    <div
      class="product-container <%= bag.productCategory %> <%= bag.colour %> <%= bag.material %>"
    >
    
    <p class="top-label">
      <span data-rocFormName="<%=bag.ROCformName %>" data-itemCode="<%= bag.ROCItemCode %>" data-urlName="<%= bag.urlName %>">&#9825;</span>
    </p>
      <a href="/bags/products/<%= bag.urlName %>">
        <img src="/static<%= bag.mainImage %>" alt="<%= bag.productType %>" />
      </a>
      <p class="product-brand"><%= bag.brand %></p>
      <p class="product-name"><%= bag.productName %></p>
      <% if(bag.salePrice) { %>
      <div class="price-sale-container">
        <p class="product-price-sale"> £<%= bag.productPrice %></p>
        <span class="sale-price">£<%= bag.salePrice %></span>
      </div>
    </div>
    <% } else { %>
    <p class="product-price">£<%= bag.productPrice %></p>
  </div>
  <% } %> <% }); %>
</div>

<div class="bottom-pic-banners">
  <div>
    <section>
      <p>arm candy</p>
      <button><a href="/bags/leather"
      >shop now</a></button>
    </section>
    <img src="/static<%= product[0].largeStaticImage1 %>" alt="bag-banner" />
  
  </div>
  <div>
    <section>
      <p>grab bags</p>
      <button><a href="/bags/tote"
      >shop now</a></button>
    </section>
    <img src="/static<%= product[product.length - 1].largeStaticImage2 %>" alt="bag-banner"
    />
  </div>
</div>


<script type="module" src="/static/js/assets/pages-BmrkZ9Kz.js" defer></script>

<%- include('footer') %>
